@import '../../variables.scss';

.container {
  margin: auto;
  margin-top: 40px;
  margin-left: 40px;
  color: $theme-color;

  a {
    text-decoration: none;
    color: $theme-color;
  }
}

.name {
  font-size: 46px;
  color: $theme-color;
  font-weight: 600;
}

.section {
  margin-top: 28px;
}

.sectionHeading {
  font-weight: 600;
  font-weight: 22px;
  margin-bottom: 4px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
